.main-table {
  @apply border-collapse table-auto w-full whitespace-nowrap shadow-lg text-sm md:text-base
}

.main-table thead tr {
  @apply text-center 
  first:bg-slate-800 first:text-slate-100 
  last:bg-slate-200 last:text-slate-800
}

.main-table thead tr:first-child th {
  @apply border-2 px-4 py-2.5
  first:rounded-tl-md 
  last:rounded-tr-md
  [&:nth-child(4)]:hidden [&:nth-child(4)]:lg:table-cell
}

.main-table thead tr:last-child th {
  @apply border-2 px-4 py-2.5
  [&:nth-child(2)]:hidden [&:nth-child(2)]:lg:table-cell
  [&:nth-child(3)]:text-right [&:nth-child(3)]:px-3
}

.main-table tbody tr  {
  @apply text-center odd:bg-slate-100 hover:bg-slate-200
}

.main-table tbody tr td {
  @apply px-3 py-1.5
  [&:nth-child(2)]:text-left [&:nth-child(2)]:whitespace-normal
  [&:nth-child(3)]:text-right
  [&:nth-child(4)]:text-left [&:nth-child(4)]:hidden [&:nth-child(4)]:lg:table-cell
  [&:nth-child(5)]:text-right
  [&:nth-child(6)]:text-right
}